/*반응형으로 만들기 때문에 px 대신 rem 사용 */

.pragmatic_logo {
font-family: 'Lobster', cursive;
}

.pragmatic_footer_button {
font-size : .6rem;
}

.pragmatic_footer {
text-align:center; margin-top: 2rem;
}

.pragmatic_header {
text-align:center; margin-top: 2rem 0;
}
